<h1>{{title}} <a href="javascript:void(0)" [routerLink]="['/adicionar-produtos']">NOVO</a></h1>

<table border="1">
    <tr>
        <td>Id</td>
        <td>Nome</td>
        <td>Descrição</td>
        <td></td>
    </tr>
    <tr *ngFor="let produto of listarProdutos">
        <td>{{produto['id']}}</td>
        <td>{{produto['nome']}}</td>
        <td>{{produto['descricao']}}</td>
        <td>
            <a href="javascript:void(0)" (click)="alterar(produto)">alterar</a> |
            <a href="javascript:void(0)">excluir</a>
        </td>
    </tr>
</table>